@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Cairo', sans-serif;
  --color-brand-brown: #9C3D06;
  --color-brand-orange: #F26E1E;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: #fbfbfc;
}
